<!DOCTYPE html>
<html data-ng-app="app" lang="en">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
		<meta name="apple-mobile-web-app-capable" content="yes">
		
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/foundation/5.5.0/css/foundation.min.css">
		
		<title>gtwelve ActiveRecord</title>
	</head>
	<body>
		
		
		<div class="container">
			<div class="row">
				<div class="large-12 columns">
					
					<h1 style="margin-top: 50px;">gtwelve ActiveRecord</h1>
					
					<p>gtwelve ActiveRecord helps manage your data in angularJS apps. It extends factories and services so they behave similarly to Models and Collections in Backbone.
						
						
						
					</p>
					
					
					<h1 style="margin-top: 50px;">Example</h1>
					
					<p>The example below uses ActiveRecord to fetch data from 'example_response.json', convert the data into models, add the models to a service which is used to list them on the page. Check out 'example.js' to see how it works.</p>
					
					<div data-ng-controller="exampleController">
						<ul>
							<li data-ng-repeat="person in people">
								{{ person.nameAndPosition() }}
								<a href="#" data-ng-click="print($event, person)">Print to model console</a>
								<a href="#" data-ng-click="destroy($event, person)">remove</a>
							</li>
						</ul>
						
						<form id="add_form" data-ng-submit="addPerson($event)">
							<label>Name: <input type="text" name="name" data-ng-model="addData.name" /></label>
							<label>Position: <input type="text" name="position" data-ng-model="addData.position" /></label>
							
							<input type="submit" value="Add" class="button" />
						</form>
					</div>
					
					
				</div>
			</div>
		</div>
		
		
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.23/angular.js"></script>
		<script src="./activerecord.js"></script>
		<script src="./example.js"></script>
		
	</body>
</html>